.sidebar {
   /* position: fixed;
    max-width: 250px;
    height: 100vh;*/
    transition-duration: 500ms;
    padding-left: 70px;
    padding-top: 63px;
    position: fixed;
    min-height: 100vh;
    width: 317px;
    transform: translate(-480px);
    justify-content: flex-start;
    left: 0;
    top: 0;
    display: flex;
    z-index: 10;



}

.sidebar.open {
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    transform: translate(0);



}

.background {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 1400px;
    height: 100vh;
    background-color: black;
    opacity: 30%;

}

.nav {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    gap: 45px;
    position: relative;



}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #58ACFF;
    transition: ease .4s;


    /*transition-duration: 500ms;
    transform: translate(0);*/
}

.nav a.active {
    color: #0059B2;


}

.close {
    border: none;
    background: #ffff;
    position: absolute;
    top: 20px;
    right: 30px;







}

.close img {
    cursor: pointer

}
