.sidebar {
    max-width: 370px;
    transform: translate(-220px);
   /* justify-content: space-between;*/


}

.sidebar.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 70px;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    transform: translate(0);


}

.background {
    opacity: 0.6;

}

.nav {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin: 0;
    gap: 45px;



    /*transition-duration: 500ms;
    transform: translate(-220px);*/

}

.nav a {
    text-decoration: none;
   color: black
}

.nav a:hover {
    color:  #58ACFF;
    transition: ease .4s;


    /*transition-duration: 500ms;
    transform: translate(0);*/
}

.nav a.active {
   color: #0059B2;


}

.close {
    border: none;
    background: #ffff;


}

.close img {
    width: 12px;
    cursor: pointer

}
