.input:focus {
    outline: none;
    border: 2px solid blue;
}

.input {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #D1D1D1;
}

.inputWrapper {
    border-color: #D1D1D1;
}

.superInput {
    border-color: #D1D1D1;
}

.errorInput {
    border-color: pink;
}

.errorInput:focus {
    border-color: aqua;
}

.error {
    border-color: firebrick;
}


