.greetingForm {
    display: flex;
    flex-direction: column;
}

.inputAndButtonContainer {

    align-items: baseline;
    width: 372px;
    height: 36px;
    margin: 10px;
}

.error {
    color: red;
    margin-left: 10px;
}

.input {

    border: 1px solid #D1D1D1;
    border-radius: 5px;

}

.input:focus {

}

.errorInput {
    margin: 10px;
    background: #0066CC;
    border: 2px solid red;
    outline: none

}

.button {
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

}

.button:focus {
    margin: 10px;
    width: 78px;
    opacity: 0.5;
}

.button:active {

}

.button:disabled {
    background: gray;
    border: none;
    opacity: 30%;
}

.text {
    padding-left: 10px;
}

.greeting {

}
