.greetingForm {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.inputAndButtonContainer {
    display: flex;
    align-items: baseline;
    height: 36px;
}

.error {
    color: red;
    padding-top: 7px;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-right: 10px;
    width: 372px;
    height: 36px;
    padding: 8px 0 8px 12px;


}

.input:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 372px;
    line-height: 20px;

}

.errorInput {
    margin-right: 12px;
    background: #0066CC;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
    width: 372px;
    height: 36px;

}

.button {
    width: 78px;
    height: 36px;
    background: #0066CC;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

}

.button:focus {
    margin: 10px;
    width: 78px;
    opacity: 0.5;
}

.button:active {
    background-color: firebrick;
    color: darkgoldenrod;

}

.button:disabled {
    background: gray;
    border: none;
    opacity: 30%;
}

.text {
    padding: 30px 0 9px 0;
}

.greeting {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-top: 10px;

}
