.select {

    width: 180px;
    max-width: 100%;
    height: 24px;
    background: none;

}

.select:focus {
   background: none;
    margin: 5px 0 5px 0;
}


.option:hover {
    background-color: #FFFFFF;
    color: firebrick;

}
