.burgerMenuIcon {
    background: firebrick;
    padding: 20px 0 15px 70px;


}

.header {
    display: flex;
    flex-direction: row;
    background: #2C2C2C;
    position: relative;
    justify-content: space-between;



}

.header h1 {
    background: yellow;
    /*padding: 17px 70px 14px 0;*/
    /*position: absolute;
    right: 500vh;*/
}